<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link rel="stylesheet" href="../css/common2.css">
<div class="game-page" ng-app ng-controller="GameController">
    <!-- Navbar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey lighten-2 game">
                <div class="container nav-box">
                    <div class="brand-logo animate swell-2">
                        <a href="#!">
                            <img src="../img/playing-cards.svg" alt="">
                        </a>
                    </div>
                    <a data-target="mobile" class="sidenav-trigger">
                        <i class="material-icons grey-text text-darken-4">menu</i>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down game-navbar-right">
                        <li class="game-search">
                            <div class="game-search-button animate swell-2">
                                <i class="material-icons">search</i>
                            </div>
                            <div class="game-search-bar">
                                <input type="text" placeholder="search player" ng-click="game.searchUser(game)" ng-model="game.search_input">
                                <div ng-if="game.allUsers && game.search_input" class="dropdown">
                                    <ul>
                                        <li ng-repeat="user in game.allUsers | filter:game.search_input | limitTo : 5 " ng-click="game.sendInvite(user, game)" class="text">{{user.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#charity" class="gray-slate-text animate swell-1 turn-gray-slate-text">CHARITY</a>
                        </li>
                        <li>
                            <a href="#!/quit" class="gray-slate-text animate swell-1 turn-gray-slate-text" ng-click="abandonGame()">QUIT</a>
                        </li>
                        <li ng-controller="IndexController" ng-show="global.authenticated">
                            <a href="#!/profile">
                                <img class="circle" ng-src="{{pic || '../img/profile-image.png'}}" alt="profile image" width="40px" height="40px" style="margin-top:12px">
                            </a>
                        </li>
                        <li style="cursor: pointer;" class="badge1" data-badge="{{game.myMessage.message.length || 0}}" ng-click="dropDown()">
                            <img class="notification animate swell-2 "src="../img/notif.svg" alt="notif">
                        </li>
                        <div ng-if="openDropDown && game.myMessage.message.length > 0" class="dropdown">
                            <ul ng-repeat="msg in game.myMessage.message">
                                <li ng-click="dropDown(); enterGame(game.myMessage.url)" class="text">{{msg}}</li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar List -->
    <ul class="sidenav" id="mobile">
        <li>
            <a href="#!/profile" data-ng-show="global.authenticated">CHARITY</a>
        </li>
        <li>
            <a href="" ng-click="logout()" data-ng-show="global.authenticated">QUIT</a>
        </li>
    </ul>
    <!-- Game Content -->
    <div class="game-content-container">
        <div class="game-content game-height-1">
            <div class="row game-actual-content">
                <!--  Left Content -->
                <div class="col m9 s12 game-height-1">
                    <!-- Dashboard -->
                    <div class="row game-container-height-3">
                        <!-- Timer -->
                        <timer></timer>
                        <!-- Question Board -->
                        <question-board></question-board>
                    </div>
                    <!-- Deck -->
                    <deck></deck>
                </div>
                <!-- Right Content / Players List -->
                <list-co-player></list-co-player>
                <!-- List of All Players Online -->
                <list-player-online></list-player-online>
            </div>
        </div>
    </div>
    <!-- Choose-Region Modal -->
    <region></region>
    <!-- Reload Modal -->
    <!-- Message Toast -->
    <toast></toast>
    <!-- Draw Card Modal -->
    <!-- <div id="cardModal" class="game-modal" ng-show="awaiting && isCzar()" ng-click="continueGame()">
        <div class='span12'>
        </div>
        <div class='equipment-card'>
            <div class='card-front card-face'></div>
            <div class='card-back card-face'></div>
        </div>
    </div> -->
    <div id="cardModal" class="game-modal" ng-show="awaiting && isCzar()">
        <div class="czar-card-container">
            <div class="czar-card-box b1 animated fadeInLeftBig" ng-click="continueGame('b1')">
                <div id="b1" class="czar-card" >
                    <div class="front"><div ng-bind-html-unsafe="game.curQuestion.text"></div></div>
                    <div class="back"><span>DARK</span><span class="circle"></span><span>KNIGHT</span></div>
                </div>
            </div>
            <div class="czar-card-box b2 animated fadeInDownBig" ng-click="continueGame('b2')">
                <div id="b2" class="czar-card" >
                    <div class="front"><div ng-bind-html-unsafe="game.curQuestion.text"></div></div>
                    <div class="back"><span>DARK</span><span class="circle"></span><span>KNIGHT</span></div>
                </div>
            </div>
            <div class="czar-card-box b3 animated fadeInRightBig" ng-click="continueGame('b3')">
                <div id="b3" class="czar-card b3">
                    <div class="front"><div ng-bind-html-unsafe="game.curQuestion.text"></div></div>
                    <div class="back"><span>DARK</span><span class="circle"></span><span>KNIGHT</span></div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="game-modal" ng-show="game.gameStarted">
        <div class="game-modal-content" style="text-align: center">
            <div class="modal-body">
                <h5>Game started</h5>
                <p>Would you like to start another game?</p>
            </div>
            <div class="game-modal-footer">
                <button ng-click="abandonGame()" type="button" class="btn-small gray-slate animate swell-2 turn-gray-slate">Go back</button>
            </div>
        </div>
    </div>
            
    <!-- </div> -->
</div>
<!-- Chat FAB -->
<chat></chat>
<script type="text/javascript">
    $(window).on('load', function () {
        const sidenav = document.querySelector('.sidenav');
        const instance = M.Sidenav.init(sidenav, {});

        $('.game-player-tab-switch').click(function () {
            console.log('hello');
        });
    });


</script>
