
<div class="col m3 s12 game-height-1" ng-show="showCoPlayers">
    <div class="game-player-list">
        <!-- Search Bar -->
        <div class="game-search">
            <div class="game-search-bar">
                <input type="text" placeholder="search for players">
                <div class="dropdown">
                    <ul>
                        <li ng-repeat="user in game.allUsers" class="text">{{user.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Player Label 1 -->
        <div class="player-label">
            <!-- Avatar Section -->
            <div class="sz4">
                <div class="avatar">
                    <div class="badge">O</div>
                    <div class="clip-layer">
                        <img ng-src="img/placeholder.jpg" alt="placeholder">
                    </div>
                </div>
            </div>
            <!-- Detail Section -->
            <div class="sz8">
                <div class="row details">
                    <div class="name not-ingame">
                        <div class="text">Dancing Rat
                            <span class="game-player-circle" ng-show="isPlayer($index)"></span>
                        </div>
                        <div class="czar-tag" ng-show="currentCzar($index)">CZAR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-player-tab-switch animate lighten" ng-click="showCoPlayers=false">SEE CO-PLAYERS</div>
</div>
