<link rel="stylesheet" href="../bower/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/common2.css">
<link rel="stylesheet" href="../css/style.css">

<div class="containerr" ng-controller="IndexController">
  <div class="profile-page" ng-init="profile()">

    <nav class="navbar navbar-default navbar-fixed-top navbar-profile">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand brand-logo" href="#">
              <img alt="" src="./img/playing-cards.svg" />
            </a>
            <button type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="sr-only">Toggle Navigation</span>
            </button>
          </div>
    
          <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li><a href="/">HOME</a></li>
            <li><a href="/play?custom">PLAY GAME</a></li>
            <li><a href="" ng-controller="IndexController" ng-click="logout()">LOGOUT</a></li>
          </ul>
        </div>
    
      </nav>

    <div class="row main">

      <div class="col-md-2 image-section">
        <img class="img img-circle details-img img-responsive" ng-src={{imageUrl}} alt="profile image" width="200px" height="200px">
        <div class="user-details text-center">
          <p class="details-itemr">
            <b>{{name}}</b>
          </p>
          <p class="details-item">{{email}}</p>
          <p class="details-item">{{userRank}}</p>
          <!-- <p class="details-item">22 {{wins}}wins || 60 played</p> -->
        </div>
      </div>

      <div class="col-md-6 gamelog-section game-log">
        <h4>GAME LOG</h4>
        <table class="table">
          <thead>
            <tr>
              <th class="">Game ID</th>
              <th class="">Date</th>
              <th class="">Winner</th>
              <th class=" pull-left">Gamers</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr> -->
            <div ng-if="games.length < 1"> No Log!</div>
            <tr ng-repeat="game in games">
              <td>{{ game.gameId }}</td>
              <td>{{ game.played | date}}</td>
              <td ng-repeat="winner in game.players | filter:{'id': game.winner}:true | limitTo:1">{{winner.username}}</td>
              <td style="padding-left:5px; padding-right:0" class="gamers pull-left" ng-repeat="player in game.players">{{ player.username +',' }}</td>
            </tr>
          </tbody>
        </table>
        <!-- <button class="btn btn-primary">Load more...</button> -->
      </div>

      <div class="col-md-3 leaderboard-section leaderboard">
        <h4>LEADER BOARD</h4>
        <table class="table leaderboard">
          <thead>
            <tr class="leaderboard-header">
              <th class="">#</th>
              <th class="pull-leftt">Player</th>
              <th class="">Wins</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td class="pull-leftt">Doe</td>
              <td>58</td>
            </tr>
            <tr>
              <td>2</td>
              <td class="pull-leftt">Moe</td>
              <td class="leaderboard-games-won">23</td>
            </tr>
            <tr>
              <td>3</td>
              <td class="pull-leftt">Albert</td>
              <td>22</td>
            </tr>
            <tr>
              <td>4</td>
              <td class="pull-leftt">Steve</td>
              <td>11</td>
            </tr>
            <tr>
              <td>5</td>
              <td class="pull-leftt">John</td>
              <td>7</td>
            </tr>
            <tr>
              <td>6</td>
              <td class="pull-leftt">John</td>
              <td>7</td>
            </tr>
            <tr>
              <td>7</td>
              <td class="pull-leftt">John</td>
              <td>7</td>
            </tr>
          </tbody>
        </table>
        <!-- <button class="btn btn-default btn-load">Load more...</button> -->
      </div>
    </div>
  </div>
</div>