<link rel="stylesheet" href="../bower/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/common2.css">
<link rel="stylesheet" href="../css/style.css">

<div class="containerr" ng-controller="IndexController">

  <div class="profile-page" ng-init="profile()">

    <nav class="navbar navbar-default navbar-fixed-top navbar-profile">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand brand-logo animate swell-1" href="#">
            <img alt="" src="./img/playing-cards.svg" />
          </a>
          <button type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="sr-only">Toggle Navigation</span>
          </button>
        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
          <li>
            <a class="gray-slate-text animate swell-1 turn-gray-slate-text navbar-profile-hov" href="/">HOME</a>
          </li>
          <li>
            <a class="gray-slate-text animate swell-1 turn-gray-slate-text navbar-profile-hov" href="/play?custom">PLAY GAME</a>
          </li>
          <li>
            <a class="gray-slate-text animate swell-1 turn-gray-slate-text navbar-profile-hov" href="" ng-controller="IndexController" ng-click="logout()">LOGOUT</a>
          </li>
        </ul>
      </div>

    </nav>

    <div class="row main profile-container">

      <div class="col-md-2 image-section">
        <img class="img img-circle details-img img-responsive" ng-src="{{imageUrl ||'../img/profile-image.png'}}" alt="profile image" width="200px" height="200px">
        <div class="user-details text-center">
          <p class="details-itemr">
            <b>{{name}}</b>
          </p>
          <p class="details-item">{{ email }}</p>
          <p class="details-item">{{ userRank || 'Pawn' }}</p>
          <p class="details-item">{{ userPoints || 0 }} points</p>
        </div>
      </div>

      <div class="col-md-6 gamelog-section game-log">
        <h4>GAME LOG</h4>
        <table class="table">
          <thead>
            <tr>
              <th class="">Game ID</th>
              <th class="">Date</th>
              <th class="">Winner</th>
              <th class="pull-left">Gamers</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr> -->
            <div ng-if="games.length < 1"> No Log!</div>
            <tr ng-repeat="game in games">
              <td>{{ game.gameId }}</td>
              <td>{{ game.played | date}}</td>
              <td ng-repeat="winner in game.players | filter:{'id': game.winner}:true | limitTo:1">{{winner.username}}</td>
              <td style="padding-left:5px; padding-right:0" class="gamers pull-left" ng-repeat="player in game.players">{{ player.username +',' }}</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-default btn-load" ng-hide="disablePrevButtonGameLog" ng-click="fetchPrevPageGameLog()">Previous</button>
        <button class="btn btn-default btn-load" ng-hide="disableNextButtonGameLog" ng-click="fetchNextPageGameLog()">Next</button>
      </div>

      <div class="col-md-3 leaderboard-section leaderboard">
        <h4>LEADER BOARD</h4>
        <table class="table leaderboard">
          <thead>
            <tr class="leaderboard-header">
              <th class="">#</th>
              <th class="">Player</th>
              <th class="">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in leaderboardInfo" ng-class="highlightPlayerClass(user._id)">
              <td>{{ (leaderboardInfo.indexOf(user) + 1) + (page*16) - page }}</td>
              <td>{{ page }}</td>
              <td class="">{{ user.name }}</td>
              <td>{{ user.points || 0 }}</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-default btn-load" ng-hide="disablePrevButton" ng-click="fetchPrevPageLeaderboard()">Previous</button>
        <button class="btn btn-default btn-load" ng-hide="disableNextButton" ng-click="fetchNextPageLeaderboard()">Next</button>
      </div>
    </div>
  </div>
</div>
