<div class="col s4">
    <div class=" game-height-3 game-timer" data-step="1" data-intro="Timer counts down as the game progresses!">
        <div class="b1">
            <div class="b2">
                <div class="b3">
                    <div class="text animate pulsate" ng-bind="game.time"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-timer-context" ng-animate="{enter:'animated fadeInUp', leave:'animate drop'}" ng-show="game.state === 'winner has been chosen'">
        Next Round In</div>
    <div class="game-timer-context" ng-animate="{enter:'animate fadeInUp', leave:'animate drop'}" ng-show="game.state === 'waiting for czar to decide'">
        Czar Choosing</div>
</div>
